---
Language: Cpp, Makefile
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
...
